.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  margin-right: 15px;
}

.friend__avatar.g-avater {
  width: 100px;
  height: 100px;
}

.friend__avater.m-avatar {
  width: 90px;
  height: 90px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend__content .friend__name {
  display: block;
  font-weight: 900;
  margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.7;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend__content .friend__status,
.friend .chat__timestamp {
  font-size: 12px;
}

.friend .friend__now-listening {
  border: 1px solid #24e76c;
  padding: 3px 10px;
  border-radius: 12px;
  font-size: 14px;
}

.friend__now-listening span {
  opacity: 0.7;
}

.find .friend__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e98a0;
  border-radius: 5px;
  padding: 10px 15px;
}
